body {
    background-color: #f4f4f4;
}

.mj-bg-color {
    background-color: #fceae8;
}

.mj-text-color {
    color: #ff136f;
}

.mj-btn-color {
    background-color: #ff136f;
    color: white;
}

.mj-watch-bg-color {
    background-color: #ffa530;
}

.mj-bag-bg-color {
    background-color: #ff4c93;
}

.mj-shoes-bg-color {
    background-color: #4169fd;
}

.mj-see-color {
    color: #f9c777;
}